In [ ]:
url = 'https://www.worldometers.info/world-population/population-by-country/'

In [11]:
import requests
import pandas as pd

# Target URL (page must contain HTML tables)
url = 'https://www.worldometers.info/world-population/population-by-country/'

# Define realistic headers to mimic a real browser
# Define headers to mimic a real browser and avoid blocking by the website
headers = {
    "User-Agent": (
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/123.0.0.0 Safari/537.36"    
    )
}

# Send a GET request to the URL with headers
response = requests.get(url, headers=headers)
print(f'Status Code: {response.status_code}')  # Raise an error for bad responses

# Parse the HTML content using pandas
tables = pd.read_html(response.text)

# Check if any tables were found
print(f"Number of tables found: {len(tables)}")

Status Code: 200

C:\Users\touse\AppData\Local\Temp\ipykernel_17856\2367554353.py:22: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

Number of tables found: 1

In [8]:
tables[0].head()

,#,Country (or dependency),Population (2025),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,1,India,1463865525,0.89%,12929734,492,2973190,"−495,753",1.94,28.8,37.1%,17.78%
1,2,China,1416096094,−0.23%,"−3,225,184",151,9388211,"−268,126",1.02,40.1,67.5%,17.20%
2,3,United States,347275807,0.54%,1849236,38,9147420,1230663,1.62,38.5,82.8%,4.22%
3,4,Indonesia,285721236,0.79%,2233305,158,1811570,"−39,509",2.10,30.4,59.6%,3.47%
4,5,Pakistan,255219554,1.57%,3950390,331,770880,"−1,235,336",3.50,20.6,34.4%,3.10%