# pandas Library
### pandas is a powerful data analysis and manipulation library for Python.

In [1]:
# import library
import os
import sys
import pandas as pd

In [3]:
# import data from clipboard
df= pd.read_clipboard()
df

  Country,Year,total_population,net_migration
0        Afghanistan,2023,41454761.0,-48958.0
1       Afghanistan,2022,40578842.0,-647402.0
2       Afghanistan,2021,40000412.0,-548784.0
3        Afghanistan,2020,39068979.0,143634.0
4          Afghanistan,2019,37856121.0,9159.0
5        Afghanistan,2018,36743039.0,-36753.0

In [12]:
# import data from csv file
df = pd.read_csv("../data_scraping/datasets/pop_migration.csv")
df

         Country  Year  total_population  net_migration
0    Afghanistan  2023        41454761.0       -48958.0
1    Afghanistan  2022        40578842.0      -647402.0
2    Afghanistan  2021        40000412.0      -548784.0
3    Afghanistan  2020        39068979.0       143634.0
4    Afghanistan  2019        37856121.0         9159.0
..           ...   ...               ...            ...
315     Pakistan  1964        50799999.0       -63298.0
316     Pakistan  1963        49447776.0       -64552.0
317     Pakistan  1962        48156128.0       -65780.0
318     Pakistan  1961        46921277.0       -66991.0
319     Pakistan  1960        45709310.0            0.0

[320 rows x 4 columns]

# Create A Dummy data sets

In [14]:
data= {
    "Name":["John", "Anna", "Peter", "Linda"],
    "Location":["New York", "Paris", "Berlin", "London"],
    "Age":[24, 13, 53, 33],
    "Salary":[70000, 80000, 120000, 90000]
}

df= pd.DataFrame(data)
df

    Name  Location  Age  Salary
0   John  New York   24   70000
1   Anna     Paris   13   80000
2  Peter    Berlin   53  120000
3  Linda    London   33   90000