# Sub-setting in python
selection subsetting is a common task in data analysis and manipulation. In this notebook, we will explore how to subset data using Python, specifically with the pandas library. We will cover different methods of subsetting data, including boolean indexing, label-based indexing, and position-based indexing.

In [2]:
# import libraries
import os
import sys
import pandas as pd
df = pd.read_csv('../data_scraping/datasets/pop_migration.csv')

In [ ]:
# subseting a column from the dataset
df_country = df[['Country']]
df_country

         Country
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
..           ...
315     Pakistan
316     Pakistan
317     Pakistan
318     Pakistan
319     Pakistan

[320 rows x 1 columns]

In [15]:
df_year = df[['Year']]
df

         Country  Year  total_population  net_migration
0    Afghanistan  2023        41454761.0       -48958.0
1    Afghanistan  2022        40578842.0      -647402.0
2    Afghanistan  2021        40000412.0      -548784.0
3    Afghanistan  2020        39068979.0       143634.0
4    Afghanistan  2019        37856121.0         9159.0
..           ...   ...               ...            ...
315     Pakistan  1964        50799999.0       -63298.0
316     Pakistan  1963        49447776.0       -64552.0
317     Pakistan  1962        48156128.0       -65780.0
318     Pakistan  1961        46921277.0       -66991.0
319     Pakistan  1960        45709310.0            0.0

[320 rows x 4 columns]

In [24]:
# subsetting of two column from dataframe
df_contry_year = df[["Country" , "Year"]]
df_contry_year

         Country  Year
0    Afghanistan  2023
1    Afghanistan  2022
2    Afghanistan  2021
3    Afghanistan  2020
4    Afghanistan  2019
..           ...   ...
315     Pakistan  1964
316     Pakistan  1963
317     Pakistan  1962
318     Pakistan  1961
319     Pakistan  1960

[320 rows x 2 columns]

In [26]:
# filter the dataset by year
df_2020 = df[df["Year"] == 2020]
df_2020

         Country  Year  total_population  net_migration
3    Afghanistan  2020      3.906898e+07       143634.0
67    Bangladesh  2020      1.662980e+08     -1002522.0
131        India  2020      1.402618e+09       -73806.0
195    Sri Lanka  2020      2.191900e+07       -29875.0
259     Pakistan  2020      2.350017e+08      -559291.0

In [29]:
# filter the dataset by country
df_couy = df[df["Country"] == "Pakistan" ]
df_couy

      Country  Year  total_population  net_migration
256  Pakistan  2023       247504495.0     -1619557.0
257  Pakistan  2022       243700667.0     -1322625.0
258  Pakistan  2021       239477801.0      -565673.0
259  Pakistan  2020       235001746.0      -559291.0
260  Pakistan  2019       230800899.0     -1177220.0
..        ...   ...               ...            ...
315  Pakistan  1964        50799999.0       -63298.0
316  Pakistan  1963        49447776.0       -64552.0
317  Pakistan  1962        48156128.0       -65780.0
318  Pakistan  1961        46921277.0       -66991.0
319  Pakistan  1960        45709310.0            0.0

[64 rows x 4 columns]

In [33]:
# filter the whole dataset by columns
df_net = df[df["net_migration"] >= 0]
df_net

         Country  Year  total_population  net_migration
3    Afghanistan  2020        39068979.0       143634.0
4    Afghanistan  2019        37856121.0         9159.0
9    Afghanistan  2014        32792523.0       233913.0
10   Afghanistan  2013        31622704.0        18119.0
11   Afghanistan  2012        30560034.0        68628.0
..           ...   ...               ...            ...
300     Pakistan  1979        78997039.0       450003.0
301     Pakistan  1978        76307379.0       111386.0
302     Pakistan  1977        73901827.0        85250.0
303     Pakistan  1976        71620254.0        48238.0
319     Pakistan  1960        45709310.0            0.0

[83 rows x 4 columns]